root { 
    display: block;
}

#logoContainer {
    position:relative;
    width:250px;
    top:80px;
    margin:auto;
}

#visitorLogin {
    padding-top: 30px;
}

#advancedSearchMenu {
    padding-top:10px;
    font-size: 12px;
}

#advancedSearchMenuContent {
    padding-top:10px;
    font-size: 12px;
}

#advancedSearchMenuContent ul {
    list-style-type: none;
}

#advancedSearchMenuContent ul li input {
    margin-right: 10px;
}

#advancedArrow {
    margin-right: -5px;
}
#metaDataAlert {
    width:90%;
    margin:auto;
}

#adv_search_btn_ctnr,#adv_search_opts {
    position:relative;
    padding-top:10px;
}

.hidden {
    display: none;
}

#loginOuterContainer {
    position:relative;
    top:120px;
    width:400px;
    margin:auto;
    background-color: #FFF;
    padding:26px 24px 46px;
    webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#loginContainer p label {
    font-weight: normal;
    color: #777;
    font-size: 14px;
}

#loginContainer p label input {
    margin: 2px 6px 16px 0;
    background: #fbfbfb;
    border: 1px solid #ddd;
    font-size: 24px;
    color:#32373c;
}

div#pageHeader {
    height: 50px;
    margin-bottom: 50px;
    padding: 3px;
    position: relative;
    overflow: hidden;
}

div#pageHeader img {
    float: left;
    /*width: 10%;*/
}

div#pageHeader h1 {
    float: left;
    width: 45%;
    margin-left: 25px;
    margin-top: 8px;
    font: 20px Verdana, Geneva, sans-serif;
    
}

#pageHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}

#pageHeader ul li {
    display: inline;
    float:left;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid #ccc;
}

#pageHeader ul li:first-child {
    border-left: none;
}

#menuContainer {
    float:right;
}

div.menuItem {
    margin-top: 15px;
    font-size: 12px;
}

div.searchBox {
    padding:35px 0;
    margin:auto;
    width:50%;
}

div#filterMenuContainer {
    width:50%;
    height:450px;
    margin:auto;
}

.filterBox {
    height: 400px;
    width: 450px;
    vertical-align: top;
    padding:0 10px;
    display: none;
}

.filterBox h2 {
    float:left;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

div.filterBox h2 {
    text-align: center;
    font-size: 16pt;
}

div.filterBox ul {
    padding: 5px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid blue;
    margin-left: 0px;
}

div.filterBox li {
    list-style: none;
}

div.searchBox form {
    margin-left: 40px;
}

div.searchResults {
    margin-left: 30px;
}

div.searchResults li {
    list-style: none;
    margin-bottom: 35px;
    width: 700px;
}

table#allUsers {
    margin-bottom: 30px;
    margin-left: 30px;
}

tr.tHead {
    font-weight: bold;
}

table#allUsers td {
    padding-right: 15px;
}

ul.pendingItems {
    list-style: none;
}

table#allUsers td.active {
    padding-left: 34px;
}

table#allUsers td.count {
    padding-left: 110px;
}

table.allversions tr.headRow {
    font-weight: bold;
}

table.allversions td {
    padding-right: 15px;
}

span.bold {
    font-weight: bold;
}

div.loginError {
    clear: both;
}

div.loginError img {
    float: left;
}

div.loginError .errorText {
    float: left;
    color: red;
    clear: right;
    font-weight: bold;
    font-size:12px;
    padding-bottom: 10px;

}

.marginize {
    margin:0 0 20px 20px !important;
}